:root {
	--theme-accent-color--rgb: 26, 162, 170 !important;
	--theme-secondary-color--rgb: 32, 159, 181 !important;
	--theme-text-color--rgb: 76, 79, 105 !important;
	--theme-link-color: rgb(3, 105, 146) !important;
	--theme-link-color--hover: #0598D4 !important;
	--theme-link-color--visited: #023F57 !important;
	--theme-accent-link-color: rgb(230, 233, 239) !important;
	--theme-background-color: rgb(251, 252, 253) !important;
	--theme-border-color: rgb(220, 224, 232) !important;
	--theme-text-shadow-color: rgb(140, 143, 161) !important;
	--theme-button-color: rgb(32, 159, 181) !important;
	--theme-button-color--hover: #25B6D0 !important;
	--theme-button-color--active: #1C889B !important;
	--theme-card-background-color--rgb: 247, 248, 250 !important;
	--theme-card-box-shadow: 0 0 0.5rem rgba(140, 143, 161, 0.1) !important;
	--theme-card-box-shadow--hover: 0 0 0.85rem rgba(140, 143, 161, 0.2) !important;
	--theme-card-border-color: rgb(220, 224, 232) !important;
	--theme-header-background-color: rgb(230, 233, 239) !important;
	--theme-header-box-shadow-color: rgb(220, 224, 232) !important;
	--theme-footer-top-color: rgb(220, 224, 232) !important;
	--theme-footer-bottom-color: #CCD0DA !important;
	--theme-toolbar-background-color: rgb(237, 246, 248) !important;
	--theme-success-color: rgb(28, 147, 191) !important;
	--theme-info-color: rgb(114, 135, 253) !important;
	--theme-warn-color: rgb(223, 142, 29) !important;
	--theme-danger-color: rgb(230, 69, 83) !important;
	--theme-empty-color: rgb(188, 192, 204) !important;
	--theme-input-background-color: rgb(247, 248, 250) !important;
	--theme-input-border-color: rgb(220, 224, 232) !important;
	--theme-input-border-color--hover: #CCD0DA !important;
	--theme-list-item-background-color: rgb(230, 233, 239) !important;
	--theme-list-item-background-color--hover: rgba(41, 155, 194, .16) !important;
	--home-accent-color--rgb: var(--theme-accent-color--rgb) !important;
	--home-secondary-color--rgb: var(--theme-secondary-color--rgb) !important;
	--home-text-color: rgb(var(--theme-text-color--rgb)) !important;
	--home-text-secondary-color: rgb(124, 127, 147) !important;
	--home-text-tertiary-color: rgb(172, 176, 190) !important;
	--home-text-ghost-color: rgb(220, 224, 232) !important;
	--home-success-color: var(--theme-success-color) !important;
	--home-info-color: var(--theme-info-color) !important;
	--home-warn-color: var(--theme-warn-color) !important;
	--home-danger-color: var(--theme-danger-color) !important;
	--home-empty-color: var(--theme-empty-color) !important;
	--home-background-color--rgb: 251, 252, 253 !important;
	--home-card-border-color: var(--theme-card-border-color) !important;
	--home-image-background-color: rgb(247, 248, 252) !important;
	--theme-just-kidding-text-color: hsl(232, 10%, 53%);
	--theme-accent-color: rgb(var(--theme-accent-color--rgb)) !important;
	--theme-secondary-color: rgb(var(--theme-secondary-color--rgb)) !important;
	--theme-text-color: rgb(var(--theme-text-color--rgb)) !important;
	--theme-card-background-color: rgb(var(--theme-card-background-color--rgb)) !important;
	--home-accent-color: rgb(var(--home-accent-color--rgb)) !important;
	--home-secondary-color: rgb(var(--home-secondary-color--rgb)) !important;
	--home-background-color: rgb(var(--home-background-color--rgb)) !important;
	--theme-divider-color: rgb(241, 242, 250) !important;
	--theme-item-text-color: rgb(51, 53, 71) !important;
	--theme-item-text-color-hover: rgb(51, 53, 71) !important;
	--theme-item-icon-color: rgb(31, 33, 51) !important;
	--theme-item-icon-color-hover: rgb(31, 33, 51) !important;
	--theme-item-text-color-hover-horizontal: #29959B !important;
	--theme-item-icon-color-hover-horizontal: #29959B !important;
	--theme-item-color-hover: rgb(245, 246, 250) !important;
	--theme-item-color-active: rgba(26, 162, 170, 0.1) !important;
	--theme-item-color-active-hover: rgba(26, 162, 170, 0.1) !important;
	--theme-item-color-active-collpased: rgba(26, 162, 170, 0.1) !important;
	--theme-code-text-color: var(--theme-text-color) !important;
	--theme-code-color: rgb(244, 244, 247) !important;
}

:root[color-mode=dark] {
	--theme-accent-color--rgb: 153, 235, 239 !important;
	--theme-secondary-color--rgb: 169, 229, 240 !important;
	--theme-text-color--rgb: 227, 230, 237 !important;
	--theme-link-color: rgb(148, 203, 226) !important;
	--theme-link-color--hover: #C2E2EF !important;
	--theme-link-color--visited: #379EC9 !important;
	--theme-accent-link-color: rgb(53, 63, 83) !important;
	--theme-background-color: rgb(44, 52, 63) !important;
	--theme-border-color: rgb(55, 64, 83) !important;
	--theme-text-shadow-color: rgb(237, 238, 240) !important;
	--theme-button-color: rgb(186, 234, 243) !important;
	--theme-button-color--hover: #82D9E9 !important;
	--theme-button-color--active: #D3F2F7 !important;
	--theme-card-background-color--rgb: 38, 41, 55 !important;
	--theme-card-box-shadow: 0 0 0.5rem rgba(237, 238, 240, 0.1) !important;
	--theme-card-box-shadow--hover: 0 0 0.85rem rgba(237, 238, 240, 0.2) !important;
	--theme-card-border-color: rgb(55, 64, 83) !important;
	--theme-header-background-color: rgb(53, 63, 83) !important;
	--theme-header-box-shadow-color: rgb(55, 64, 83) !important;
	--theme-footer-top-color: rgb(55, 64, 83) !important;
	--theme-footer-bottom-color: #4C4F69 !important;
	--theme-toolbar-background-color: rgb(58, 59, 78) !important;
	/*--theme-success-color: rgb(28, 147, 191) !important;*/
	/*--theme-info-color: rgb(114, 135, 253) !important;*/
	/*--theme-warn-color: rgb(223, 142, 29) !important;*/
	/*--theme-danger-color: rgb(230, 69, 83) !important;*/
	/*--theme-empty-color: rgb(188, 192, 204) !important;*/
	--theme-input-background-color: rgb(48, 57, 76) !important;
	--theme-input-border-color: rgb(220, 224, 232) !important;
	--theme-input-border-color--hover: #CCD0DA !important;
	--theme-list-item-background-color: rgb(53, 63, 83) !important;
	--theme-list-item-background-color--hover: rgba(41, 155, 194, .16) !important;
	/*--home-accent-color--rgb: var(--theme-accent-color--rgb) !important;*/
	/*--home-secondary-color--rgb: var(--theme-secondary-color--rgb) !important;*/
	/*--home-text-color: rgb(var(--theme-text-color--rgb)) !important;*/
	--home-text-secondary-color: rgb(124, 127, 147) !important;
	--home-text-tertiary-color: rgb(172, 176, 190) !important;
	--home-text-ghost-color: rgb(220, 224, 232) !important;
	/*--home-success-color: var(--theme-success-color) !important;*/
	/*--home-info-color: var(--theme-info-color) !important;*/
	/*--home-warn-color: var(--theme-warn-color) !important;*/
	/*--home-danger-color: var(--theme-danger-color) !important;*/
	/*--home-empty-color: var(--theme-empty-color) !important;*/
	--home-background-color--rgb: 44, 52, 63 !important;
	/*--home-card-border-color: var(--theme-card-border-color) !important;*/
	--home-image-background-color: rgb(48, 57, 74) !important;
	--theme-just-kidding-text-color: hsl(240,8.3%,95.3%);
	/*--theme-accent-color: rgb(var(--theme-accent-color--rgb)) !important;*/
	/*--theme-secondary-color: rgb(var(--theme-secondary-color--rgb)) !important;*/
	/*--theme-text-color: rgb(var(--theme-text-color--rgb)) !important;*/
	/*--theme-card-background-color: rgb(var(--theme-card-background-color--rgb)) !important;*/
	/*--home-accent-color: rgb(var(--home-accent-color--rgb)) !important;*/
	/*--home-secondary-color: rgb(var(--home-secondary-color--rgb)) !important;*/
	/*--home-background-color: rgb(var(--home-background-color--rgb)) !important;*/
	--theme-divider-color: rgb(54, 63, 75) !important;
	--theme-item-text-color: rgb(235, 235, 240) !important;
	--theme-item-text-color-hover: rgb(235, 235, 240) !important;
	--theme-item-icon-color: rgb(245, 245, 249) !important;
	--theme-item-icon-color-hover: rgb(245, 245, 249) !important;
	--theme-item-text-color-hover-horizontal: #A2E1E6 !important;
	--theme-item-icon-color-hover-horizontal: #A2E1E6 !important;
	--theme-item-color-hover: rgb(50, 59, 76) !important;
	--theme-item-color-active: rgba(153, 235, 239, 0.1) !important;
	--theme-item-color-active-hover: rgba(153, 235, 239, 0.1) !important;
	--theme-item-color-active-collpased: rgba(153, 235, 239, 0.1) !important;
	/*--theme-code-text-color: var(--theme-text-color) !important;*/
	--theme-code-color: rgb(51, 61, 78) !important;
}

/* Tabs */
body.skin-moeskin .n-tabs {
	--n-bar-color: var(--theme-button-color) !important;
	--n-tab-text-color: var(--theme-button-color) !important;
	--n-tab-text-color-active: var(--theme-button-color--active) !important;
	--n-tab-text-color-hover: var(--theme-button-color--hover) !important;
	--n-pane-text-color: var(--theme-text-color) !important;
}

/* Button */
body.skin-moeskin .n-button--default-type:not(.n-button--color),
body.skin-moeskin #p-purge-cache .n-button {
	--n-ripple-color: var(--theme-button-color) !important;
	--n-text-color: var(--theme-text-color) !important;
	--n-text-color-hover: var(--theme-button-color--hover) !important;
	--n-text-color-pressed: var(--theme-button-color--active) !important;
	--n-text-color-focus: var(--theme-button-color--active) !important;
	--n-text-color-disabled: var(--theme-just-kidding-text-color) !important;
	--n-border: 1px solid var(--theme-border-color) !important;
	--n-border-hover: 1px solid var(--theme-button-color--hover) !important;
	--n-border-pressed: 1px solid var(--theme-button-color--active) !important;
	--n-border-focus: 1px solid var(--theme-button-color--active) !important;
	--n-border-disabled: 1px solid var(--theme-just-kidding-text-color) !important;
}

body.skin-moeskin .n-button--success-type:not(.n-button--color) {
	--n-color: rgba(28, 147, 191, .16) !important;
	--n-color-hover: rgba(28, 147, 191, .22) !important;
	--n-color-pressed: rgba(28, 147, 191, .28) !important;
	--n-color-focus: rgba(28, 147, 191, .22) !important;
	--n-color-disabled: rgba(28, 147, 191, .05) !important;
	--n-text-color: var(--theme-success-color) !important;
	--n-text-color-hover: var(--theme-success-color) !important;
	--n-text-color-pressed: var(--theme-success-color) !important;
	--n-text-color-focus: var(--theme-success-color) !important;
	--n-text-color-disabled: var(--theme-success-color) !important;
	--n-border: 1px solid var(--theme-success-color) !important;
	--n-border-hover: 1px solid #28B3E5 !important;
	--n-border-pressed: 1px solid #20819F !important;
	--n-border-focus: 1px solid #28B3E5 !important;
	--n-border-disabled: 1px solid var(--theme-success-color) !important;
}

body.skin-moeskin .n-button--info-type:not(.n-button--color) {
	--n-color: rgba(114, 135, 253, .16) !important;
	--n-color-hover: rgba(114, 135, 253, .22) !important;
	--n-color-pressed: rgba(114, 135, 253, .28) !important;
	--n-color-focus: rgba(114, 135, 253, .22) !important;
	--n-color-disabled: rgba(114, 135, 253, .05) !important;
	--n-text-color: var(--theme-info-color) !important;
	--n-text-color-hover: var(--theme-info-color) !important;
	--n-text-color-pressed: var(--theme-info-color) !important;
	--n-text-color-focus: var(--theme-info-color) !important;
	--n-text-color-disabled: var(--theme-info-color) !important;
	--n-border: 1px solid var(--theme-info-color) !important;
	--n-border-hover: 1px solid #A4B1FF !important;
	--n-border-pressed: 1px solid #5877FB !important;
	--n-border-focus: 1px solid #A4B1FF !important;
	--n-border-disabled: 1px solid var(--theme-info-color) !important;
}

body.skin-moeskin .n-button--error-type:not(.n-button--color) {
	--n-color: rgba(230, 69, 83, .16) !important;
	--n-color-hover: rgba(230, 69, 83, .22) !important;
	--n-color-pressed: rgba(230, 69, 83, .28) !important;
	--n-color-focus: rgba(230, 69, 83, .22) !important;
	--n-color-disabled: rgba(230, 69, 83, .05) !important;
	--n-text-color: var(--theme-danger-color) !important;
	--n-text-color-hover: var(--theme-danger-color) !important;
	--n-text-color-pressed: var(--theme-danger-color) !important;
	--n-text-color-focus: var(--theme-danger-color) !important;
	--n-text-color-disabled: var(--theme-danger-color) !important;
	--n-border: 1px solid var(--theme-danger-color) !important;
	--n-border-hover: 1px solid #F26F79 !important;
	--n-border-pressed: 1px solid #D9364A !important;
	--n-border-focus: 1px solid #F26F79 !important;
	--n-border-disabled: 1px solid var(--theme-danger-color) !important;
}

body.skin-moeskin .n-button--primary-type:not(.n-button--color) {
	--n-color: var(--theme-button-color) !important;
	--n-color-hover: var(--theme-button-color--hover) !important;
	--n-color-pressed: var(--theme-button-color--active) !important;
	--n-color-focus: var(--theme-button-color--active) !important;
	--n-color-disabled: var(--theme-just-kidding-text-color) !important;
	--n-ripple-color: var(--theme-button-color) !important;
	--n-text-color: var(--theme-accent-link-color) !important;
	--n-text-color-hover: var(--theme-accent-link-color) !important;
	--n-text-color-pressed: var(--theme-accent-link-color) !important;
	--n-text-color-focus: var(--theme-accent-link-color) !important;
	--n-text-color-disabled: var(--theme-accent-link-color) !important;
	--n-border: 1px solid var(--theme-button-color) !important;
	--n-border-hover: 1px solid var(--theme-button-color--hover) !important;
	--n-border-pressed: 1px solid var(--theme-button-color--active) !important;
	--n-border-focus: 1px solid var(--theme-button-color--active) !important;
	--n-border-disabled: 1px solid var(--theme-just-kidding-text-color) !important;
}

body.skin-moeskin .n-badge {
	--n-color: var(--theme-danger-color) !important;
	--n-ripple-color: var(--theme-danger-color) !important;
}

body.skin-moeskin .mobile-edit-button a:visited {
	color: var(--n-text-color-pressed);
}

body.skin-moeskin .noteTA-button > button {
	border: 1px solid var(--theme-border-color);
}

body.skin-moeskin .noteTAViewer-button:hover {
	border-color: var(--theme-button-color--hover);
	color: var(--theme-button-color--hover);
}

body.skin-moeskin .noteTAViewer-button:active,
body.skin-moeskin .noteTAViewer-button:focus {
	border-color: var(--theme-button-color--active);
	color: var(--theme-button-color--active);
}

body.skin-moeskin .noteTAViewer-button::after {
	box-shadow: 0 0 0 6px var(--theme-button-color);
}

body.skin-moeskin .noteTAViewer-button:active::after {
	box-shadow: 0 0 0 0 var(--theme-button-color);
}

/* Menu */
body.skin-moeskin .n-menu {
	--n-divider-color: var(--theme-divider-color) !important;
	--n-item-text-color: var(--theme-item-text-color) !important;
	--n-item-text-color-hover: var(--theme-item-text-color-hover) !important;
	--n-item-text-color-active: var(--theme-accent-color) !important;
	--n-item-text-color-child-active: var(--theme-accent-color) !important;
	--n-item-text-color-child-active-hover: var(--theme-accent-color) !important;
	--n-item-text-color-active-hover: var(--theme-accent-color) !important;
	--n-item-icon-color: var(--theme-item-icon-color) !important;
	--n-item-icon-color-hover: var(--theme-item-icon-color-hover) !important;
	--n-item-icon-color-active: var(--theme-accent-color) !important;
	--n-item-icon-color-active-hover: var(--theme-accent-color) !important;
	--n-item-icon-color-child-active: var(--theme-accent-color) !important;
	--n-item-icon-color-child-active-hover: var(--theme-accent-color) !important;
	--n-item-icon-color-collapsed: var(--theme-item-icon-color) !important;
	--n-item-text-color-horizontal: var(--theme-item-text-color) !important;
	--n-item-text-color-hover-horizontal: var(--theme-item-text-color-hover-horizontal) !important;
	--n-item-text-color-active-horizontal: var(--theme-item-text-color) !important;
	--n-item-text-color-child-active-horizontal: var(--theme-item-text-color) !important;
	--n-item-text-color-child-active-hover-horizontal: var(--theme-item-text-color) !important;
	--n-item-text-color-active-hover-horizontal: var(--theme-item-text-color) !important;
	--n-item-icon-color-horizontal: var(--theme-item-icon-color) !important;
	--n-item-icon-color-hover-horizontal: var(--theme-item-icon-color-hover-horizontal) !important;
	--n-item-icon-color-active-horizontal: var(--theme-accent-color) !important;
	--n-item-icon-color-active-hover-horizontal: var(--theme-accent-color) !important;
	--n-item-icon-color-child-active-horizontal: var(--theme-accent-color) !important;
	--n-item-icon-color-child-active-hover-horizontal: var(--theme-accent-color) !important;
	--n-arrow-color: var(--theme-item-text-color) !important;
	--n-arrow-color-hover: var(--theme-item-text-color) !important;
	--n-arrow-color-active: var(--theme-accent-color) !important;
	--n-arrow-color-active-hover: var(--theme-accent-color) !important;
	--n-arrow-color-child-active: var(--theme-accent-color) !important;
	--n-arrow-color-child-active-hover: var(--theme-accent-color) !important;
	--n-item-color-hover: var(--theme-item-color-hover) !important;
	--n-item-color-active: var(--theme-item-color-active) !important;
	--n-item-color-active-hover: var(--theme-item-color-active-hover) !important;
	--n-item-color-active-collapsed: var(--theme-item-color-active-collapsed) !important;
}

body.skin-moeskin .n-base-select-menu,
body.skin-moeskin .n-dropdown-menu {
	--n-action-divider-color: var(--theme-divider-color) !important;
	--n-action-text-color: var(--theme-text-color) !important;
	--n-color: var(--theme-background-color) !important;
	--n-option-check-color: rgb(var(--theme-accent-color--rgb)) !important;
	--n-option-color-pending: var(--theme-list-item-background-color) !important;
	--n-option-text-color-active: rgb(var(--theme-accent-color--rgb)) !important;
	--n-option-color-active-pending: var(--theme-list-item-background-color) !important;
}

/* Message */
body.skin-moeskin .n-message-wrapper {
	--n-text-color: var(--theme-text-color) !important;
	--n-icon-color-info: var(--theme-info-color) !important;
	--n-icon-color-success: var(--theme-success-color) !important;
	--n-icon-color-warning: var(--theme-warn-color) !important;
	--n-icon-color-error: var(--theme-danger-color) !important;
	--n-icon-color-loading: var(--theme-accent-color) !important;
}

/* Input */
body.skin-moeskin .n-input {
	--n-border: 1px solid var(--theme-input-border-color) !important;
	--n-border-hover: 1px solid var(--theme-button-color--hover) !important;
	--n-border-focus: 1px solid var(--theme-button-color--active) !important;
	--n-border-disabled: 1px solid var(--theme-just-kidding-text-color) !important;
	--n-caret-color: var(--theme-accent-color) !important;
	--n-text-color: var(--theme-text-color) !important;
	--n-text-decoration-color: var(--theme-text-color) !important;
	--n-box-shadow-focus: 0 0 0 2px rgba(var(--theme-accent-color--rgb), 0.2) !important;
}

/* Spin */
body.skin-moeskin .n-spin {
	--n-color: var(--theme-accent-color) !important;
	--n-text-color: var(--theme-accent-color) !important;
}

/* Text */
body.skin-moeskin .n-text {
	--n-text-color: var(--theme-text-color) !important;
	--n-code-text-color: var(--theme-code-text-color) !important;
	--n-code-color: var(--theme-code-color) !important;
}

body.skin-moeskin .n-gradient-text--success-type {
	--n-color-start: rgba(28, 147, 191, .6) !important;
	--n-color-end: var(--theme-success-color) !important;
}

body.skin-moeskin .n-gradient-text--error-type {
	--n-color-start: rgba(230, 69, 83, .6) !important;
	--n-color-end: var(--theme-danger-color) !important;
}

body.skin-moeskin .n-p {
	--n-text-color: var(--theme-text-color) !important;
}

body.skin-moeskin .n-h {
	--n-bar-color: var(--theme-accent-color) !important;
	--n-text-color: var(--theme-text-color) !important;
}

body.skin-moeskin .n-a {
	color: var(--theme-accent-color) !important;
	text-decoration-color: var(--theme-accent-color) !important;
}

/* Other */
body.skin-moeskin img[src="https://app.moegirl.org.cn/img/MoeSkin_feedback_icon_green.png"] {
	filter: hue-rotate(79deg) brightness(.76);
}

body.skin-moeskin.page-Mainpage .header-icon {
	filter: hue-rotate(74deg) brightness(.88);
}

body.skin-moeskin.page-Mainpage .home-topics::after,
body.skin-moeskin.page-Mainpage .home-card::after,
body.skin-moeskin.page-Mainpage .sitelogo {
	filter: hue-rotate(74deg);
}

body.skin-moeskin.page-Mainpage .n-tag__icon {
	filter: hue-rotate(67deg) brightness(.82);
}

body.skin-moeskin.page-Mainpage .n-pagination-item {
	--n-item-text-color: var(--theme-item-text-color) !important;
}

body.skin-moeskin.page-Mainpage .n-pagination-item.n-pagination-item--active.n-pagination-item--clickable {
	color: var(--theme-accent-color);
	border: 1px solid var(--theme-accent-color);
}

body.skin-moeskin.page-Mainpage .n-pagination .n-pagination-item:not(.n-pagination-item--disabled):hover {
	color: var(--theme-accent-color);
}

body.skin-moeskin.page-Mainpage .home-topic-ordered-card .index-tag.no-1 {
	background-color: #1893BF;
}

body.skin-moeskin.page-Mainpage .home-topic-ordered-card .index-tag.no-2 {
	background-color: #1893BFBF;
}

body.skin-moeskin.page-Mainpage .home-topic-ordered-card .index-tag.no-3 {
	background-color: #1893BF80;
}

body.skin-moeskin.page-Mainpage .banner-gallery .gallery-details .read-more {
	color: var(--theme-accent-color);
}

body.skin-moeskin #pagehistory [data-mw-mod-status="1"] .mod-icon {
	color: var(--theme-success-color);
}

body.skin-moeskin #pagehistory [data-mw-mod-status="2"] .mod-icon {
	color: var(--theme-danger-color);
}

body.skin-moeskin #pagehistory [data-mw-is-latest-approved="true"] .mod-icon {
	color: var(--theme-warn-color);
}

body.skin-moeskin .mw-changeslist .mod-icon[title="Approved"] svg,
body.skin-moeskin .mw-contributions-list .mod-icon[title="Approved"] svg {
	fill: var(--theme-success-color);
}

body.skin-moeskin .mw-changeslist .mod-icon[title="Rejected"] svg,
body.skin-moeskin .mw-contributions-list .mod-icon[title="Rejected"] svg {
	fill: var(--theme-danger-color);
}

body.skin-moeskin .mw-changeslist .mod-icon[title="Pending"] svg,
body.skin-moeskin .mw-contributions-list .mod-icon[title="Pending"] svg {
	fill: currentColor;
}
